body{
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}
.card {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 240px 240px 80px;
    grid-template-areas: "image" "text";
    border-radius: 20px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
  }
  .card-image {
    grid-area: image;

  }
  .card-text {
    grid-area: text;
  }
  .card-image {
    grid-area: image;
    border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text .special {
    color: rgb(255, 2, 2);
    font: size 20px;px;
  }
  .card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.6);
}
.card {
  transition: 0.5s ease;
  cursor: pointer;
  margin:30px;
}
